.checker-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;
    padding: 40px;
    

    .regulation {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;

        .spanish-regulation {
            margin-right: 100px;
            margin-left: 60px;
            border: 1px solid $black;
            border-radius: 10px;
            padding: 20px;
            height: 530px;

            .spanish-regulation-title {
                font-size: 2em;
                margin-bottom: 10px;
                font-weight: 900;
            }

            .spanish-regulation-links {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 10px;

                .regulation-item {
                    background-color: #59c9bb;
                    padding: 10px;
                    border-radius: 10px;

                    &:hover {
                        background-color: $light-green;
                    }
                }

                .title {
                    color: $black;
                    font-weight: 500;
                }
            }
        }

        .eu-regulation {
            margin-right: 80px;
            margin-left: 40px;
            border: 1px solid $black;
            border-radius: 10px;
            padding: 20px;

            .eu-regulation-title {
                font-size: 2em;
                margin-bottom: 10px;
                font-weight: 900;
            }

            .eu-regulation-links {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 10px;

                .regulation-item {
                    background-color: #59c9bb;
                    padding: 10px;
                    border-radius: 10px;

                    &:hover {
                        background-color: $light-green;
                    }
                }

                .title {
                    color: $black;
                    font-weight: 500;
                }
            }
        }
    }

    .column-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;

        .risk-countries-wrapper {
            margin-right: 100px;
            margin-left: 60px;
            margin-top: -50px;
            border: 1px solid $black;
            border-radius: 10px;
            padding: 20px;

            .risk-countries-title {
                font-size: 2em;
                margin-bottom: 10px;
                font-weight: 900;
            }

            .countries-links {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 10px;

                .regulation-item {
                    background-color: #59c9bb;
                    padding: 10px;
                    border-radius: 10px;

                    &:hover {
                        background-color: $light-green;
                    }
                }

                .title {
                    color: $black;
                    font-weight: 500;
                }

                .dmo-countries{
                    display: grid;
                    grid-template-columns: 1fr;
                    row-gap: 10px;

                    .regulation-item {
                        background-color: #59c9bb;
                        padding: 10px;
                        border-radius: 10px;

                        &:hover {
                            background-color: $light-green;
                        }
                    }

                    .dmo-countries-title {
                        color: $black;
                        font-weight: 800;
                        font-size: 1.2em;
                        margin-top: 10px;
                    }
                }
            }
        }

        .pep-list-wrapper {
            margin-right: 80px;
            margin-left: 40px;
            border: 1px solid $black;
            border-radius: 10px;
            padding: 20px;
            height: 145px;

            .pep-title {
                font-size: 2em;
                margin-bottom: 10px;
                font-weight: 900;
            }

            .pep-links {
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 10px;

                .regulation-item {
                    background-color: #59c9bb;
                    padding: 10px;
                    border-radius: 10px;

                    &:hover {
                        background-color: $light-green;
                    }
                }

                .title {
                    color: $black;
                    font-weight: 500;
                }
            }
        }
    }




    .regulation-item {
        text-decoration: none;
    }

    .title {
        font-size: 1.1em;
    }
    
}