.dashboard-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh-14.5;
    align-items: center;
    justify-content: space-around;
    font-size: 2em;

    .link {
        text-decoration: none;
        text-align: center;
        border: 3px solid $black;
        border-radius: 10px;
        height: 270px;
        width: 520px;
        justify-self: center;
        align-content: center;

        h1 {
            color: $black;
        }

        &:hover {
            background-color: $light-green;
        }
    }
}